In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-11-08 00:01:50,22.0752,-159.3190,79.48,59,38,3.00
1,1,Saint Anthony,US,2021-11-08 00:01:50,45.0205,-93.2180,58.78,78,40,1.99
2,2,Petropavlovsk-Kamchatskiy,RU,2021-11-08 00:01:51,53.0452,158.6483,34.39,44,20,15.66
3,3,Rikitea,PF,2021-11-08 00:01:51,-23.1203,-134.9692,75.49,79,100,15.97
4,4,Avera,US,2021-11-08 00:01:52,33.1940,-82.5271,53.71,44,0,6.91

In [3]:
#get dtypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-11-08 00:01:50,22.0752,-159.3190,79.48,59,38,3.00
3,3,Rikitea,PF,2021-11-08 00:01:51,-23.1203,-134.9692,75.49,79,100,15.97
13,13,Butaritari,KI,2021-11-08 00:01:55,3.0707,172.7902,82.15,69,55,11.43
20,20,Georgetown,MY,2021-11-08 00:00:17,5.4112,100.3354,78.73,94,20,3.44
34,34,Mormugao,IN,2021-11-08 00:00:22,15.4000,73.8000,76.06,83,94,5.73
38,38,Mareeba,AU,2021-11-08 00:02:07,-17.0000,145.4333,88.32,69,68,5.82
51,51,Faanui,PF,2021-11-08 00:03:12,-16.4833,-151.7500,79.70,73,11,7.72
55,55,Kidal,ML,2021-11-08 00:03:14,18.4411,1.4078,83.12,15,5,7.47
57,57,Kalianget,ID,2021-11-08 00:03:15,-7.0500,113.9333,84.69,67,89,4.65
59,59,Vaini,TO,2021-11-08 00:03:16,-21.2000,-175.2000,77.09,82,100,15.26

In [31]:
preferred_cities_df.count()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-11-08 00:01:50,22.0752,-159.3190,79.48,59,38,3.00
3,3,Rikitea,PF,2021-11-08 00:01:51,-23.1203,-134.9692,75.49,79,100,15.97
13,13,Butaritari,KI,2021-11-08 00:01:55,3.0707,172.7902,82.15,69,55,11.43
20,20,Georgetown,MY,2021-11-08 00:00:17,5.4112,100.3354,78.73,94,20,3.44
34,34,Mormugao,IN,2021-11-08 00:00:22,15.4000,73.8000,76.06,83,94,5.73
38,38,Mareeba,AU,2021-11-08 00:02:07,-17.0000,145.4333,88.32,69,68,5.82
51,51,Faanui,PF,2021-11-08 00:03:12,-16.4833,-151.7500,79.70,73,11,7.72
55,55,Kidal,ML,2021-11-08 00:03:14,18.4411,1.4078,83.12,15,5,7.47
57,57,Kalianget,ID,2021-11-08 00:03:15,-7.0500,113.9333,84.69,67,89,4.65
59,59,Vaini,TO,2021-11-08 00:03:16,-21.2000,-175.2000,77.09,82,100,15.26

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0        Kapaa      US     79.48  22.0752 -159.3190
3      Rikitea      PF     75.49 -23.1203 -134.9692
13  Butaritari      KI     82.15   3.0707  172.7902
20  Georgetown      MY     78.73   5.4112  100.3354
34    Mormugao      IN     76.06  15.4000   73.8000
38     Mareeba      AU     88.32 -17.0000  145.4333
51      Faanui      PF     79.70 -16.4833 -151.7500
55       Kidal      ML     83.12  18.4411    1.4078
57   Kalianget      ID     84.69  -7.0500  113.9333
59       Vaini      TO     77.09 -21.2000 -175.2000

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,79.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Rikitea,PF,75.49,-23.1203,-134.9692,People ThankYou
13,Butaritari,KI,82.15,3.0707,172.7902,Isles Sunset Lodge
20,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
34,Mormugao,IN,76.06,15.4000,73.8000,Coconut Creek Resort

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [52]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]